@page "/login"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject NavigationManager NM
@inject IJSRuntime JS
@inject IDbContextFactory<LesKitaDbContext> DbFactory
@inject AuthenticationStateProvider AuthStateProvider
<style>
    .login-box {
    background-color: #6282c8;
    padding: 1.3rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    /* max-width: 360px; */
    text-align: center;
    }

    .logo-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    }

    h2 {
    margin-bottom: 0.2rem;
    }

    p {
    font-size: 0.9rem;
    color: #555;
    }

    .input-control{

    }
    .input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.7rem 0;
    border: 1px solid #ccc;
    border: none;
    border-radius: 6px;
    color: #555;
    font-size: 12px;
    }

    .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 1rem;
    font-size: 0.8rem;
    }

    .login-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #3a5db4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    }

    .login-btn:hover,
    .login-btn:active
    {
    background-color: #2f4da1;
    }

    .divider {
    margin: 1rem 0;
    font-size: 0.85rem;
    color: #fff;
    font-weight: 500;
    }

    .social {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 0.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    }

    .google {
    background-color: #ffffff;
    border: 1px solid #ddd;
    color: #444444;
    }

    .google:hover,
    .google:active
    {
    background-color: #f2f2f2;
    }

    .signup-text {
    font-size: 0.85rem;
    margin-top: 1rem;
    color: white;
    font-weight: 500;
    }

</style>
<script>
    window.clickLoginGoogleLink = () => {
    const link = document.getElementById("loginGoogleLink");
    if (link) {
    link.click();
    }
    };
</script>
<form method="post" action="/auth/login">
    <div class="login-box">
        <div class="logo">
            <!-- Bisa ganti dengan logo img jika mau -->
            <div class="logo-icon">🔒</div>
        </div>
        <h2 style="text-align: start;width: 200px;color: white;font-size: 30px;">
            Sign in to your account
        </h2>
        <p style="text-align: start;color: white;font-weight: 400;">Enter your email and password to log in</p>

        <div class="input-control">
            <input class="input" name="email" placeholder="Email" @bind="@Email" />
            <input class="input" name="password" placeholder="Password" type="password" @bind="@Password" />
        </div>

        <div class="options">
            <label></label>
            <label style="color:white;font-weight: 500;">Lupa Password?</label>
        </div>

        <button class="login-btn" type="submit">Log In</button>

        <div class="divider">Atau</div>

        <button class="social google" @onclick="@LoginGoogle">Masuk dengan Google</button>

        <p class="signup-text">
            Belum punya akun? <span @onclick="@BuatAkun">Buat Akun</span>
        </p>
    </div>
    <a id="loginGoogleLink" href="/login-google" style="visibility:hidden;">Login with Google</a>
</form>

@code{
    public string Email { get; set; }
    public string Password { get; set; }
    public string ErrorMessage { get; set; }
    async Task LoginGoogle()
    {
        await JS.InvokeVoidAsync("clickLoginGoogleLink");
    }

    async Task BuatAkun()
    {
        NM.NavigateTo("register");
    }
}